#navbar {
  height: 57px;
}

.chat-m {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 15px;
  /* box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.3); */
}

.chat-mss {
  width: 100%;
}
.cust-chat,
.dr-chat {
  /* min-width: 50px; */
  max-width: 300px;
  padding: 10px;
  margin: 2px 0px;
  word-wrap: break-word;
}
.cust-chat {
  background: #8fd1b1;
  border-radius: 10px 0px 10px 10px;
  margin-left: auto;
}
.dr-chat {
  background: #d9d9d9;
  border-radius: 0px 10px 10px 10px;
  margin-right: auto;
}
.chat-container {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  margin-bottom: 80px;
}

.btn-send {
  outline: none;
  /* border-radius: 5px; */
  /* padding: 15px 10px; */
  border: none;
  margin-left: 5px;
  /* height: 100%; */
  /* width: 100%; */
  background-color: transparent;
  color: #e62129;
}

.btn-send:focus {
  outline: none;
}

#msg {
  resize: none;
  overflow: hidden;
  min-height: 20px;
  max-height: 100px;
}
