#navbar {
  height: 50px;
}

.navbar-wrapper.scroll {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-nav {
  transition: all 0.5s;
}

#resto-header h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.ket-resto {
  padding: 10px 0;
}

.bintang,
.loc {
  font-weight: bold;
  margin-right: 40px;
}

.bintang span {
  color: #ffc90d;
  margin-right: 5px;
}

.loc span {
  margin-right: 5px;
}

.cari-diresto {
  padding-top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  height: 0;
  display: none;
}

.cari-diresto.active {
  opacity: 1;
  visibility: visible;
  height: 100%;
  display: block;
}

#main-content.active {
  display: none;
}
.nama-resto {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.nama-resto.show {
  opacity: 1;
  visibility: visible;
}

.menu {
  display: flex;
  flex-direction: column;
}

.blok-menu {
  display: flex;
  padding-bottom: 15px;
}

.blok-aksi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gambar-menu {
  width: 70px;
  height: 70px;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
}

.gambar-menu img {
  width: 100%;
  height: auto;
}

.detail-menu {
  padding-left: 15px;
  line-height: 1.5;
}

.nama-menu {
  font-weight: bold;
}

.ket-menu {
  font-size: 12px;
  opacity: 0.5;
}

.harga-menu {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: auto;
}

.fav-button {
  margin-left: auto;
  opacity: 0.75;
}

@supports (object-fit: cover) {
  .gambar-menu img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
  }
}

.rate-menu {
  color: #ffc90d;
}

.btn-tambah {
  font-size: 14px;
  padding: 5px 50px;
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  /* width: 150px; */
}

.btn-tambah:hover {
  /* background-color: #aa181d; */
  /* outline: none; */
  color: white;
}

.btn-tambah:active {
  /* border: none; */
  outline: none;
}

.btn-catatan {
  font-size: 14px;
  border: 0.05px solid rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
}

/* snackbar cart */

.snackbar-cart {
  visibility: hidden;
  min-width: 300px;
  margin-left: -150px;
  background-color: var(--meal);
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
}

.cart-item {
  text-align: left;
}

.snackbar-cart.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s;
  /* fadeout 0.5s 2.5s */
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* custom aja */
.tambah-cart {
  display: none;
}

/* form pesan */

.form-pesan {
  width: 100%;
  height: 0;
  background-color: whitesmoke;
  position: fixed;
  overflow-y: hidden;
  overflow: scroll;
  transition: 500ms;
  bottom: 0;
  z-index: 1005;
}

.form-pesan.show {
  height: 100vh;
  visibility: visible;
}

.form-pesan-header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.form-pesan-header a {
  text-decoration: none;
  color: #333;
  margin-right: 15px;
}

.form-pesan-header .scroll {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  background-color: whitesmoke;
}

.form-pesan-content {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.al-pengiriman {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.al-pengiriman-label {
  font-size: 12px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
}
