#navbar {
  height: 57px;
}

.main-nav {
  transition: all 0.5s;
}

#resto-header h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.ket-resto {
  padding: 10px 0;
}

.bintang,
.loc {
  font-weight: bold;
  margin-right: 40px;
}

.bintang span {
  color: #ffc90d;
  margin-right: 5px;
}

.loc span {
  margin-right: 5px;
}

.cari-diresto {
  padding-top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  height: 0;
}

.cari-diresto.active {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

#main-content.active {
  display: none;
}
.nama-resto {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.nama-resto.show {
  opacity: 1;
  visibility: visible;
}

.menu {
  display: flex;
  flex-direction: column;
}

.blok-menu {
  display: flex;
  padding-bottom: 15px;
}

.blok-aksi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gambar-menu {
  width: 70px;
  height: 70px;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
}

.gambar-menu img {
  width: 100%;
  height: auto;
}

.detail-menu {
  padding-left: 15px;
  line-height: 1.5;
}

.nama-menu {
  font-weight: bold;
}

.ket-menu {
  font-size: 12px;
  opacity: 0.5;
}

.harga-menu {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: auto;
}

.fav-button {
  margin-left: auto;
  opacity: 0.75;
}

@supports (object-fit: cover) {
  .gambar-menu img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
  }
}

.rate-menu {
  color: #ffc90d;
}

.btn-tambah {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

.btn-tambah:hover {
  /* background-color: #aa181d; */
  /* outline: none; */
  color: white;
}

.btn-tambah:active {
  /* border: none; */
  outline: none;
}

.btn-catatan {
  font-size: 14px;
  border: 0.05px solid rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
}
